.container {
  max-width: 400px;
  position: relative;
  display: flex;
  flex: 1;
  font-family: sans-serif;
}

.selectButton {
  flex: 1;
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &.buttonMask {
    z-index: 1;
  }
  &.selectedMask {
    z-index: 2;
  }
}

.placeholder {
  color: grey;
  font-size: 14px;
  margin: 0;
}

.placeholderContainer {
  height: 28px;
  display: flex;
  align-items: center;
}

.selectContainer {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  &.active {
    border: 2px solid blue;
    padding: 3px 8px;
  }
}

.selectedOptionsContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.selectedOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #adb5bd;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  .deleteButton {
    padding: 4px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #495057;
    &:hover {
      background-color: #fa5252;
      cursor: pointer;
    }
  }
  .label {
    padding: 0 8px;
    margin: 0;
  }
}

.selectedOptionContainer {
  position: relative;
  padding: 4px;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  &::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

.optionContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #74c0fc;
  }
  &.active {
    color: #a5abbb;
  }
}

.clearContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  color: #a5abbb;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: #495057;
  }
}

.chevronContainer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #a5abbb;
  font-size: 16px;
  &:hover {
    color: #495057;
  }
  &:before {
    content: "";
    height: 20px;
    border-left: 1px solid #a5abbb;
    padding-right: 5px;
  }
}

.draggedOver {
  &:before {
    content: "";
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #495057;
    position: absolute;
    left: 0px;
    top: 0;
  }
}

.draggedOverLast {
  &:before {
    content: "";
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #495057;
    position: absolute;
    right: 0px;
    top: 0;
  }
}
